body {
    margin: 0;
    max-width: 100vw;
}

pre, code {
    overflow: auto;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
}

#outputPane {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 0 0 400px;
    overflow: auto;
    margin: 1rem;
}

#generatedCode {
    height: 50%;
    background-color: rgb(247, 240, 228);
}

#output {
    height: 50%;
}

#buildButton {
    display: flex;
    padding-bottom: 0%;
    flex-direction: row;
    height: 5%;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: gray;
    color: white;
  }

  #buildButton:hover {
    background-color:rgb(43, 104, 43);
    cursor: pointer;
  }

  #devicesButton{
    display: flex;
    padding-bottom: 0%;
    flex-direction: row;
    height: 5%;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: gray;
    color: white;
  }

  #devicesButton:hover {
    background-color:rgb(43, 104, 43);
    cursor: pointer;
  }


  #selectButton{
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 1%;
    padding-bottom: 0%;
    flex-direction: row;
    height: 40%;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: gray;
    color: white;
  }

  #selectButton:hover {
    background-color:rgb(43, 104, 43);
    cursor: pointer;
  }
  /* Add these styles to your existing CSS file */

.modal {
    display: none;
    position: fixed;
    z-index: 800;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#checklistContainer label {
    font-family: 'Helvetica Neue', sans-serif; /* Use a modern sans-serif font */
    font-size: 20px; /* Set a larger font size for emphasis */
    color: #000000; /* Use a bold color for emphasis */
    margin-bottom: 12px; /* A bit more spacing between labels */
    align-items: center;
    transition: color 0.3s, text-shadow 0.3s; /* Add transitions for a smoother effect */
}

#checklistContainer input[type="radio"] {
    margin-right: 10px; /* Adjust the spacing between radio button and label */
}

#checklistContainer label:hover {
    color: #000000; /* Darken the text color on hover for interaction */
    text-shadow: 1px 1px 2px rgb(73, 75, 73); /* Add a subtle text shadow on hover */
}





